$govuk-assets-path: "/check-vat-number/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/check-vat-number/assets/lib/hmrc-frontend/hmrc/";

$govuk-suppressed-warnings: (
        govuk-typography-scale-14
);

$govuk-new-organisation-colours: true;

@import "lib/govuk-frontend/dist/govuk/base";
@import "lib/hmrc-frontend/hmrc/all";

@import "language-selection";
@import "vatcheck";
